<%- layout('layouts/boilerplate') %>

    <h1>Edit Campground</h1>
    <form action="/campgrounds/<%= camp._id %>?_method=PUT" method="POST">
        <p>
            <label for="name">Name:</label>
            <input type="text" name="name" value="<%= camp.name %>" />
        </p><p>
            <label for="name">Location:</label>
            <input type="text" name="location" value="<%= camp.location %>" />
        </p><p>
            <label for="name">Price:</label>
            <input type="number" name="price" value="<%= camp.price %>" />
        </p><p>
            <label for="name">Description:</label>
            <textarea name="description" cols="30" rows="10"><%= camp.description %></textarea>
        </p>
        <p>
            <button type="submit">Save</button>
        </p>
    </form>
    <p>
        <a href="/campgrounds">All Campgrounds</a>
    </p>
    