<%- layout('layouts/boilerplate') %>

<div id="cluster-map"></div>

<div class="my-5 text-center">
  <h1>All Campgrounds</h1>
  <p><a href="/campgrounds/new">Add New Campground</a></p>
</div>

    <section class="row d-flex justify-content-center">

        <% for (let camp of campgrounds) { %>
            <div class="card camp-card">
                <div class="row g-0">
                  <div class="col-md-6 card-img-left">                      
                      <img class="img-fluid" alt="" src="<%= camp.image %>">
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <h5 class="card-title">
                        <a href="/campgrounds/<%= camp._id %>"><%= camp.name %></a>
                        
                      </h5>
                      <p class="card-text">
                        <small>
                          <%= camp.description %>
                        </small>
                      </p>     
                      <p class="card-text text-muted">
                        <%= camp.location %>
                    </p>                
                    </div>
                  </div>
                </div>
            </div>

        <% } %>

    </section>


<script>
      // public mapbox token
      const mbxToken = '<%-process.env.MAPBOX_TOKEN%>'; 
      const campgrounds = { features: <%- JSON.stringify(campgrounds) %> };
</script>

<script src="/scripts/clusterMap.js"></script>
