<%- layout('layouts/boilerplate') %>

<section class="row mb-5">
    <div class="card col-sm-6 offset-3">
        <img src="<%= camp.image %>" class="card-img-top img-fluid" alt="Image of <%= camp.name %>">
        <div class="card-body">
          <h1 class="card-title"><%= camp.name %></h1>
          <p class="card-text">&#8369;<%= camp.price %>/night</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= camp.location %></li>
          <li class="list-group-item"><%= camp.description %></li>
        </ul>
        <div class="card-body">
            <a class="btn btn-success" href="/campgrounds/<%= camp.id %>/edit">Edit</a>
            <form class="d-inline" action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/campgrounds">All Campgrounds</a></li>
        </ul>
    </div>
</section>